[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
mypy = "*"
black = "*"
flake8-bugbear = "*"
flake8-comprehensions = "*"
flake8-docstrings = "*"
darglint = "*"

[requires]
python_version = "3.10"
